.direnv
.pre-commit-config.yaml

result/

modules/speakerctl/devices.json
modules/speakerctl/snapshot.json
modules/speakerctl/tinytuya.json
modules/speakerctl/tuya-raw.json

lib/wallpapers/**/*jpg
lib/wallpapers/**/*jpeg
lib/wallpapers/**/*heic
lib/wallpapers/**/*webp
lib/wallpapers/**/*png

macos_accel.py

Session.vim
