[Desktop Entry]
Type=Application
Version=1.0
Name=rambox
Comment=ramboxstartup script
Exec=/tmp/.mount_RamboxbQcohC/rambox
StartupNotify=false
Terminal=false